<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Tik</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <!--css-->
  <link th:href="@{/css/styles.css}" rel="stylesheet" />

  <!--js-->
  <script th:src="@{/js/script.js}"></script>

</head>
<body>
  
<h1 th:utext="#{tik.hello}"></h1>
<h2>Tik Profile</h2>

<ul>
  <!--Duyệt qua toàn bộ phần tử trong biến "lodaProfile"-->
  <li th:each="info : ${myProfile}"> 
    <!--Với mỗi phần tử, lấy ra key và value-->
    <span th:text="${info.getKey()}"></span> : <span th:text="${info.getValue()}"></span>
  </li>
</ul>

</body>

</html>